   .setting-menu-icon{
    width: 24px;
    height: 16px;
    border-radius: 5px;
    color: white;
    padding: 10px;
    background: #378275;
   }

   .setting-forword{
    font-size: 36px;
    float: right;
    color: #378275;
   }