<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Items
    </ion-title>
    <ion-buttons slot="end" class="button button-clear button-positive" (click)="newModal()">  
         <ion-icon name="add" class="add-new"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar style="    padding-top: 15px; padding-bottom: 10px;">
    <ion-buttons slot="start" style="padding-left: 15px;">
      <ion-checkbox color="secondary" (click)="openMenu()" ></ion-checkbox>
    </ion-buttons>
    <ion-searchbar value={{q}} (ionInput)="searchBox($event)"    style="    min-width: 200px !important;"></ion-searchbar>
  </ion-toolbar>
</ion-header>



<ion-content class="deals-listing-content">
  <ion-spinner  *ngIf="loading" class="loading" name="crescent" color="primary"></ion-spinner>

  <ng-container  *ngIf="!loading" >
    <div class="listing-item"  [ngClass]="ended"  *ngFor="let item of items">
      <ion-row class="middle-row" style="padding-top: 20px;">
        <ion-col size="2">
        <ion-buttons><ion-checkbox  (click)="openMenu()"  [(ngModel)]="item.isSelected" name="list_name" value="{{item.id}}" (change)="isAllSelected()"></ion-checkbox></ion-buttons>
        </ion-col>
        <ion-col class="info-col" size="4">
          <app-text-shell animation="bouncing" lines="3" [data]="item.name"></app-text-shell>
        </ion-col>
        <ion-col class="info-col" size="4">
          <p class="item-description">
            <app-text-shell animation="bouncing" lines="3" [data]="item.price | currency "></app-text-shell>
          </p>
        </ion-col>
        <ion-col size="2">
          <ion-icon name="options" class="list-item-option" (click)="openActionMenu(item)"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="numTimesLeft <= 0">  
    <ion-infinite-scroll-content  
      loadingSpinner="bubbles"  
      loadingText="Loading more data...">  
    </ion-infinite-scroll-content>  
  </ion-infinite-scroll>  
</ion-content>


 