<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label class="tab-title">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estimates">
      <ion-icon name="document-text"></ion-icon>
      <ion-label class="tab-title">Estimates</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="jobs">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label class="tab-title">Jobs</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="invoices">
      <ion-icon name="document"></ion-icon>
      <ion-label class="tab-title">Invoices</ion-label>
    </ion-tab-button>
 

    
    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label class="tab-title">Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
