.ion-color-secondary {
  --ion-color-base: #3e9bf7 !important;
  --ion-color-base-rgb: var(--ion-color-secondary-rgb, 61, 194, 255) !important;
  --ion-color-contrast: var(--ion-color-secondary-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: #3e9bf7 !important;
  --ion-color-tint: #3e9bf7 !important;
}


.align-center {
  text-align: center;
}
.dispplay-content-center {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}
.auth-logo {
  width: 300px;
 }

.auth-form {
  width:100%;
   max-width: 400px;
}
.padding20 {
  padding:20px!important;
}
.width100per{
  width: 100%;
}
.home-slider-description {
  max-width: 700px;
  color: #3a876f;
   padding: 0 50px;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
.add-new{
    color: white;
    font-size: 36px;
    cursor: pointer;
}
.item-inner{
  border-bottom: 0 !important;
}
.custom-list-p{
  font-size: 14px;
  font-weight:400;
}
.action-sheet-group.sc-ion-action-sheet-md:first-child {
  margin: 10px;
  padding-top: 0;
  margin-bottom: 10px;
  text-align: center !important;
  justify-content: center;
  border-radius: 10px;

}
.action-sheet-group.sc-ion-action-sheet-md:last-child {
  padding-bottom: 0;
  margin: 10px;
  border-radius: 10px;
}


.item-native{ 
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  span.action-sheet-button-inner.sc-ion-action-sheet-md {
    text-align: center !important;
    color: #598068;
    display: block;
    padding: 15px;
}


.show{
  display: block;
}
.hide{
display: none;
}
.flex{
  flex:1;
}
.list-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: white;margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.list-item-checkbox{
  flex:1;
  max-width: 50px;
}


.list-item-option{
    float: right;
    color: #378174;
    font-size: 28px;

}

.text-align-right{
  text-align: right;
}

.text-align-left{
  text-align: left;
}
ion-datetime {
  font-size: 14px;
}
.padding-5px{
  padding:5px;
}
.DRAFT {
   color: #00afff !important;
}
.SENT {
  color: #ff0062 !important;
}

.report-search-btn{
  cursor: pointer;
  padding: 5px;
  border: 2px solid #378074;
  color: #378074;
  margin-right: 15px;
  font-size: 14px;
}

.search-filter-box.report-filter div {
  padding: 10px 0px;
}
.forms{
    width:100%;
    padding:20px;
}
.search-filter-box{
  flex: 1;
    background: white;
    display: flex;
    //position: fixed !important;
    width: 100%;
    z-index: 99999999999;
    //top: 57px;
     max-height: 47px;
     align-items: center;
     justify-content: center;
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

}


.inputs-list {
 
  .input-item {
    --padding-start: 0px;
    --padding-end: 0px;
    --inner-padding-end: 0px;
  }

  .error-container {
    .error-message {
      margin: calc(var(--page-margin) / 2) 0px;
      display: flex;
      align-items: center;
      color: var(--ion-color-danger);
      font-size: 14px;

      ion-icon {
        padding-inline-end: calc(var(--page-margin) / 2);
      }
    }
  }
}

.loading{
  position: absolute;
  top: 45%;
  left: 45%;
   right: 45%;
  bottom: 45%;
}
.img-wrapper {
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}



///form
div.input-item {
  padding: 0px 10px;
  background: white;
  margin-top: 5px;
  flex: 1;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  flex-direction: row;
  display: flex;
}
.form-column{
  padding-top: 15px;
  padding-bottom: 15px;
}
label.form-label {
  font-size: 18px;
  color: #378275;
}
ion-icon {
  cursor: pointer;
}

.img-remove-button-shell{
  top: 0px;
    color: white;
    background: red;
    position: absolute;
    border-radius: 50%;
    right: 0;
    font-size: 14px;
     z-index: 999999999999999999;
}
.form-tax-value {
  border-radius: 4px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  color: #378175;
  padding: 10px 3px;
  width: 100%;
}
.form-tax-heading {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  color: #378175;
  padding: 10px 3px;
  width: 100%;
}
@media screen and (min-width: 640px) {
  .custom-list-p{
    font-size: 20px;
  }
}