<ion-header>
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Invoices
    </ion-title>
    <ion-buttons slot="end" class="button button-clear button-positive" (click)="newInvoice()" >  
         <ion-icon name="add" class="add-new"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




 



<ion-row>
  <ion-col>
    <div class="header-tab" style="    padding: 10px 20px;">
        <div style="border-bottom: 4px solid;"> All</div> <div>Drafts </div>
     </div>  
  </ion-col>
  <ion-col size="3">
    <div class="header-tab" style="    padding: 10px 20px;">
      <ion-icon name="funnel" style="font-size: 22px;
      float: right;
      color: #3c877b;
      padding: 9px;
      font-weight: 800;
      padding-bottom: 0;"></ion-icon>
    </div>
    
  </ion-col>
</ion-row>





<ion-content class="deals-listing-content">

  <ng-container>
    <div class="listing-item"  [ngClass]="ended"  *ngFor="let item of items">
      <ion-row class="top-row">
        <ion-col>
           <ion-col>
            <ion-checkbox color="secondary" (click)="openMenu()" ></ion-checkbox>
          </ion-col>
          <ion-col>
            <span class="listname">{{item.name}}</span><br>
          </ion-col>
        </ion-col>
      </ion-row>



      <ion-row class="middle-row" style="    padding-top: 20px;">
        <ion-col class="info-col">
          <h4 class="item-name">
               <app-text-shell style="font-weight: bold;
               font-size: 18px;
               line-height: 16px;
               color: #000000;" animation="bouncing" [data]="item.customer_name"></app-text-shell>
          </h4>
          <p class="item-description">
            <app-text-shell animation="bouncing" lines="3" [data]="item.invoice_number"></app-text-shell>
          </p>

          <p style="font-size: 13px;">
            
            <span class="p-left"><ion-icon name="calendar"></ion-icon> {{item.invoice_date_dmy}}</span>
            <span class="p-right" style="margin-left: 5%;
            color: #9E9E9E;"><ion-icon name="arrow-up"></ion-icon>{{item.due_date_dmy}}</span>
         
          </p>

        </ion-col>
        <ion-col size="4">
          <span style="text-align: right;
          display: block;    margin-bottom: 10px;">{{item.due_amount_format}}</span>
          <span class="item-code" [ngClass]="'PARTIAL-PAID'">
            <app-text-shell [data]="item.status"    class="{{item.status}}" ></app-text-shell>
          </span>
        </ion-col>
      </ion-row>

      
      <ion-row class="bottom-row">
        <ion-col class="code-wrapper">
          <span class="code-cta">TEXT SENT</span>
        </ion-col>
        <ion-col class="time-left-wrapper" size="5" >
             <ion-icon (click)="openOptionMenu(item)" style="    padding: 5px;
             border-radius: 5px;
             background: #d8e7e2;
             font-size: 20px;" name="ellipsis-vertical-outline"></ion-icon>          
        
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="numTimesLeft <= 0">  
    <ion-infinite-scroll-content  
      loadingSpinner="bubbles"  
      loadingText="Loading more data...">  
    </ion-infinite-scroll-content>  
  </ion-infinite-scroll>  
</ion-content>