<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button  (click)="close()">
        <span ion-text color="primary" showWhen="ios"></span>
        <ion-icon name="close" showWhen="android,windows"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>New Item/Service</ion-title>
    <ion-button slot="end" class="button button-clear button-positive"   style="color: white;"   [disabled]="!form.valid || desabled"  (click)="saveForm()">  
      <ion-icon name="share"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>


<ion-content>
     


 <div  class="dispplay-content-center">
      
  
   <form [formGroup]="form" (ngSubmit)="saveForm()" class="forms">
    <ion-list class="inputs-list" lines="full">
       
     

      <ion-item class="input-item">
        <ion-input type="text" placeholder="Name" formControlName="name" clearInput autocapitalize="off"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="form.get('name').hasError(validation.type) && (form.get('name').dirty || form.get('name').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      

      <ion-item class="input-item">
        <ion-input type="price" placeholder="Price" formControlName="price" clearInput autocapitalize="off"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.price">
          <div class="error-message" *ngIf="form.get('price').hasError(validation.type) && (form.get('price').dirty || form.get('price').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <ion-item class="input-item">
        <ion-textarea type="text" placeholder="Description..." formControlName="description" clearInput autocapitalize="off" ></ion-textarea>

      </ion-item>
    </ion-list>

    <ion-card *ngIf="categories.length" style="text-align: left;">
      <ion-card-content >
              <ion-row  *ngFor="let category of categories"> 
                 <ion-col>
                  <label class="form-label"> {{category.name}} </label>
                  <div class="input-item">
                    <ion-input type="text" placeholder="Price"  (ionInput)="itemCategoryPriceUpdate(category,$event)"   autocapitalize="off" ></ion-input>
                    <ion-icon style="padding: 10px 0px;font-size: 18px;" name="close" color="danger"  (click)="deleteCategory(category.id)"></ion-icon>
                  </div>              
                </ion-col>
                
             </ion-row>
         </ion-card-content>
     </ion-card>

    
    <ion-button slot="end" class="button button-clear button-positive" (click)="openCategoryModal()" >  
      <ion-icon name="add"></ion-icon> Categories
    </ion-button>
    

    <div class="padding20"></div>

    <ion-button class="login-btn" type="submit" expand="block"   [disabled]="!form.valid || desabled">Save Now</ion-button>
    <div class="padding20"></div>
  </form>
</div> 
</ion-content> 